body {
    background-color: rgb(3, 6, 7);
    font-family: Arial;
    font-size: 2vh;
    text-align: left;
    color: white;
}
.title {
    font-family: sans-serif;
    font-size: 5vw, 5vh;
    font-style: italic;
    text-align: center;
    margin = 0px;
    color: #ffff00;
}
.subtitle {
    font-family: sans-serif;
    font-size: 3vh;
    color: red;
    margin: 0px;
}
a {
    color: rgb(255, 0, 255);
}
