:root {
    --orange: rgb(235, 68, 46);
    --orange-trans: rgba(235, 68, 46, 0.75);
    --purple: rgb(162, 0, 255);
    --purple-trans: rgba(162, 0, 255, 0.473);
}

body {
    background: #101010;
    margin: 0; 
}

.grid-container {
    display: grid;
    grid-template-areas: "head head"
                         "menu text"
                         ". text";
    grid-template-columns: 12em 2.5fr;
    grid-column-gap: 5%;
    grid-row-gap: 2.5em;
}

.header {
    display: grid;
    grid-area: head;
    width: 90vw;
    background-color: rgb(3, 3, 3);
    padding: 3em 5vw;
    margin-bottom: 0;
    border-bottom: 1.25em var(--purple-trans) ridge;
}

.title {
    font-family: Caveat, sans-serif;
    font-weight: 700;
    font-size: 4em;
    text-align: left;
    user-select: none;
    margin: 0;
    color: #ffffff;
}

.subtitle {
    margin-top: 0;
    font-family: inherit;
    color: var(--orange);
    user-select: none;
    
}

.right {
    float: right;
}

.icon {
    width: 2.5em;
    margin: 10px;
    user-select: none;
}

#logo {
    padding-left: 20px;
    padding-right: 20px;
    opacity: 0.5;
}

.footer {
    padding-top: 1em;
    border-top: 1px var(--orange) dashed;
    font-family: monospace;
}


.text-container {
    display: grid;
    grid-area: text;
    width: 80%;
    font-family: "Oxygen Mono", monospace;
    font-size: 1rem;
    color: white;
    
}

.text-container p{
    margin-top: 0px;
}

.menu-container {
    display: grid;
    grid-area: menu;
    grid-template-rows: 1fr 1fr 1fr;
    padding-left: 5vw;
}

.menu-container a {
    text-decoration: none;
    font-family: Caveat, sans-serif;
    font-size: 2em;
    font-weight: 400;
    color: var(--purple);
    user-select: none;
}

.menu-container a:hover {
    color: var(--orange);
}

.letter {
    color: var(--orange);
}

::selection {
    background: var(--orange-trans);
}

@media(max-width: 1200px) {
    .grid-container {
        grid-column-gap: 0%;
    }
    .text-container {
        width: 90%;
    }
}


@media (max-width: 600px) {
    .title {
        font-size: 3em;
    }

    .grid-container {
        grid-template-areas: "head head"
                             "menu menu"
                             "text text";
    }

    .menu-container {
        grid-template-rows: none;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 15%;
        padding: 0 10vw;
        width: 80vw;
    }

    .text-container {
        width: 80vw;
        padding: 0 10vw;
    }
}

@media (max-width: 400px) {
    .title {
        font-size: 2.5em;
    }

    .icon {
        width: 2em;
    }

    .grid-container {
        grid-row-gap: 1.5em;
    }

    .menu-container {
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr 1fr;
        padding: 0 30vw;
        width: 40vw;
        text-align: center;
    }


    .text-container {
        padding: 0 10vw;
        width: 80vw;
    }
}
