* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light-gray: #808080;
  --off-white: #b2b2b2;
  --dark-gray: #050708;
  --gray:  #0F1417;
  --red: rgb(219, 72, 23);
  --orange: rgb(224, 166, 50);
  --aqua: rgb(4, 134, 138);

  --main: 'KaTeX_Main';
  --ss: 'KaTeX_SansSerif';
  --code: 'Fira Code';

  --tooltip: 1rem;
  --text: 1.25rem;
  --title: 2rem;
  --subtitle: 1.5rem;
}

body {
  background: var(--gray);
  color: var(--light-gray);
  font-family: var(--ss);
  font-size: var(--text);
}

#container {
  display: grid;
  grid-template-areas: ". menu content ." ". . content .";
  grid-template-columns: 0.125fr 20rem 2fr 0.25fr;
  padding-top: 3rem;
}

app-menu {
  grid-area: menu;
}

#content {
  grid-area: content;
  padding-left: 5rem;
 /*  position: sticky;
  height: calc(100vh - 20rem);
  top: 20rem; */
}