//        _       _           _
//   __ _| | ___ | |__   __ _| |___
//  / _` | |/ _ \| '_ \ / _` | / __|
// | (_| | | (_) | |_) | (_| | \__ \_
//  \__, |_|\___/|_.__/ \__,_|_|___(_)
//  |___/

@use './utils' as *;
@use './variables' as *;

* {
  @include set(margin padding, 0);
  box-sizing: border-box;
  cursor: none;
}

html {
  font-size: $font-size;
  background-color: map-get(map-get($themes, light), bg);
}

img,
svg {
  @include pre(user-select, none);

  &.icon {
    @include tr;
    @include set(width height, s(2));
    color: var(--primary);
  }
}

@keyframes fade {
  100% {
    opacity: 100%;
    visibility: visible;
  }
}

/** Setup theme */

@each $name, $theme in $themes {
  html[data-theme='#{$name}'] {
    @each $color-name, $color in $theme {
      --#{$color-name}: #{$color};
    }
  }
}

/** Custom scroll bar  */

*::-webkit-scrollbar {
  width: 0.75rem;

  &-track {
    background: var(--bg);
  }

  &-thumb {
    background: var(--primary);

    &:hover {
      background: var(--secondary);
    }
  }
}
