//  _                                           _
// | |_ _   _ _ __   ___   __ _ _ __ __ _ _ __ | |__  _   _
// | __| | | | '_ \ / _ \ / _` | '__/ _` | '_ \| '_ \| | | |
// | |_| |_| | |_) | (_) | (_| | | | (_| | |_) | | | | |_| |_
//  \__|\__, | .__/ \___/ \__, |_|  \__,_| .__/|_| |_|\__, (_)
//      |___/|_|          |___/          |_|          |___/

h1 {
  font-size: 2.617647em;
  font-weight: normal;
  letter-spacing: -0.02em;
}

p {
  color: #7d7d7d;
}
