//  _                                           _
// | |_ _   _ _ __   ___   __ _ _ __ __ _ _ __ | |__  _   _
// | __| | | | '_ \ / _ \ / _` | '__/ _` | '_ \| '_ \| | | |
// | |_| |_| | |_) | (_) | (_| | | | (_| | |_) | | | | |_| |_
//  \__|\__, | .__/ \___/ \__, |_|  \__,_| .__/|_| |_|\__, (_)
//      |___/|_|          |___/          |_|          |___/

@use './mixins' as *;
@use './variables' as *;
@use './functions' as *;

/* prettier-ignore */
h1, h2, h3, p { 
  &, * {
    @include tr;
    &::selection {
      background-color: rgba(map-get(map-get($themes, light), secondary), 0.5);
    }
  }
}

h1,
h2 {
  font-family: $serif;
  color: var(--primary);
  letter-spacing: -0.02rem;

  em {
    color: var(--accent);
  }
}

h1 {
  font-size: s(5);
}

h2 {
  font-size: s(4);
}

h3 {
  font-family: $sans-serif;
  color: var(--primary);
  font-size: s(2);
  letter-spacing: s(0.5);
  text-transform: uppercase;
}

p {
  font-family: $sans-serif;
  color: var(--secondary);
  font-size: s();
  line-height: $scale;
  margin: s() 0;
  width: min(100%, 50ch);
}

a {
  color: currentColor;

  &:focus-visible {
    outline: none;
  }

  &:hover {
    text-decoration: none;
  }
}
