@use '.' as *; // _index.scss

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: var(--cursor, default);
}

html,
body,
#app {
  width: 100%;
  height: 100%;
}

html {
  font-size: 16px;
  transition: all $ease;
  background: linear-gradient(rgba($bg, 0.97), rgba($bg, 0.97)),
    url('/cartographer.svg');
}

#app {
  @media (max-width: 850px) {
    @include blur;

    min-height: 100%;
    width: fit-content;
    height: fit-content;
  }
}

a {
  color: currentColor;
  text-decoration: none;
}

i {
  color: $primary;
  user-select: none;
  font-size: 2.25rem;
  transition: all $ease;

  @media (max-width: 500px) {
    font-size: 2rem;
  }
}
