@use "../styles" as *;

/** Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
}

html,
body {
  margin: 0;
  height: 100%;
}
body {
  background: url('/bg.jpeg');
  display: grid;
  place-items: center;
}

@media screen and (max-width: 800px) {
  html {
    font-size: 2vw;
  }

  body {
    place-items: initial;
    align-items: flex-end;
    padding: 2rem;
  }
}

/** App styles */

main {
  font-size: 2rem;
  width: 50ch;

  & > div {
    width: min-content;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;
    margin-top: 2rem;
  }
}
