@use "../styles" as *;

/** Global Styles */

* {
  @include set(margin padding, 0);
  box-sizing: border-box;
  cursor: none;
}

html {
  font-size: clamp(10px, 2vw, 16px);
  background-color: map-get(map-get($themes, light), bg);
}

img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;

  &.icon {
    @include set(width height, s(2));
    filter: var(--icon);
  }
}

@keyframes fade {
  100% {
    opacity: 100%;
    visibility: visible;
  }
}

/** Setup theme */

@each $name, $theme in $themes {
  html[data-theme='#{$name}'] {
    @each $color-name, $color in $theme {
      --#{$color-name}: #{$color};
    }
  }
}

/** Custom scroll bar  */

*::-webkit-scrollbar {
  width: 0.75rem;

  &-track {
    background: var(--bg);
  }

  &-thumb {
    background: var(--primary);

    &:hover {
      background: var(--secondary);
    }
  }
}

/** App styles */

#app {
  opacity: 0;
  visibility: hidden;
  background-color: var(--bg);

  &,
  &:before,
  &:after {
    transition: background-color 750ms ease;
    transition-delay: 0ms;
  }
}

header {
  display: grid;
  align-items: center;
  justify-content: right;
  width: calc(100% - min(10%, 9rem));
  padding-top: s();
  height: calc(3 * #{s()});
  margin: 0 auto;
}

main {
  display: grid;
  width: calc(100% - min(20%, 18rem));
  margin: 0 auto;
}

section {
  min-height: 100vh;
  display: grid;
  align-items: center;

  // Hero section
  &:first-of-type {
    min-height: calc(100vh - 2 * 3 * #{s()});
    margin-bottom: calc(3 * #{s()});
  }
}

.contacts {
  column-gap: s(2);
  margin: s(2) 0;
  display: grid;
  width: min-content;
  grid-template-columns: repeat(4, 1fr);
}
