@use "../styles" as *;

/** Global Styles */

* {
  @include set(margin padding, 0);
  box-sizing: border-box;
  cursor: none;
}

html {
  font-size: clamp(10px, 2vw, 16px);
}

body {
  background: url('/bg.jpeg');
}

/** App styles */

main {
  display: grid;
  width: calc(100% - min(20%, 18rem));
  margin: 0 auto;
}

section {
  min-height: 100vh;
  display: grid;
  align-items: center;
}

.contacts {
  @include set(column-gap margin-top, s(2));
  display: grid;
  width: min-content;
  grid-template-columns: repeat(4, 1fr);
}
